<% provide(:title, 'Edit examination') %>
<h1>Edit examination</h1>
<%= form_for [:admin, @examination] do |f| %>
<div class="row">
  <div class="span6 offset3">
    
      <%= render 'shared/error_messages', object: f.object %>
      
			<%= render 'fields', f: f%>

      <%= f.submit "Edit examination", class: "btn btn-large btn-primary" %>
      <%= link_to "Delete", admin_examination_path(@examination), 
      method: :delete, data: { confirm: "You sure?" },
                      class: "btn btn-large btn-primary"%>
  </div>
<% end %>
</div>