<%= form_for [:admin, @question] do |f| %>
  <%= f.hidden_field :type_question_id, value: @question.type_question_id %>
  <div class="question">
    <%= f.label "Category" %>
    <%= f.collection_select(:subject_id, @subjects, :id, :subject_name) %>
  </div>
  <div class="question">
    <%= f.label "Question" %>
    <%= f.text_field :subject_content, rows: 3 %>
  </div>
  <div class="answer">
    <%= f.fields_for :answers do |builder| %>
      <%= render 'answer_fields', f: builder %>
    <% end %>
  </div>
  <p><%= f.submit "Edit question" %></p>
<% end %>
